*,
:before,
:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2e282a;
  font-size: 16px;
  line-height: 1.5;
  color: #ffc914;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-weight: 100;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2e282a;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.section-title {
  color: #f7f9f9;
  margin: 10px 0 40px;
  font-family: 'SF Mono', 'Roboto Mono', monospace;
}

.section-counter {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  color: #6c9a8b;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 24px;
}

@media (max-width: 375px) {
  .container {
    max-width: 100%;
    padding: 16px;
  }
}

.wrapper {
  display: block;
}

a:hover,
a:focus {
  color: #6c9a8b;
}

main {
  border: 1px solid;
  border-image: linear-gradient(to right, #6c9a8b, #e4572e, #ffc914, #f7f9f9);
  border-image-slice: 1;
  border-radius: 4px;
}

footer {
  border: 1px solid;
  border-image: linear-gradient(to right, #6c9a8b, #e4572e, #ffc914, #f7f9f9);
  border-image-slice: 1;
  border-radius: 4px;
}

/* ====== Header ====== */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.nav-logo {
  color: #ffc914;
}

.nav-logo:hover {
  color: #e4572e;
}

.nav-list {
  display: none;
}

.nav-link {
  color: #ffc914;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
}

.mob-btn-icon-open {
  stroke: #6c9a8b;
}

.header {
  border: 1px solid;
  border-image: linear-gradient(to right, #6c9a8b, #e4572e, #ffc914, #f7f9f9);
  border-image-slice: 1;
  border-radius: 4px;
}

/* ====== Mobile menu ====== */

.mob-menu {
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  width: 320px;
  height: 100vh;
  background-color: #f7f9f9;
  padding: 24px 24px 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  visibility: hidden;
}

.menu-close-btn {
  margin-left: auto;
  margin-bottom: 48px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:focus,
.menu-close-btn:active {
  transform: scale(1.15);
}

.mob-btn-icon-close {
  stroke: #2e2f42;
}

.mob-list {
  counter-reset: item;
}

.mob-item:before {
  content: counter(item, decimal-leading-zero) ' ';
  counter-increment: item;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mob-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-link {
  color: #2e2f42;
  font-family: 'SF Mono', 'Roboto Mono', monospace;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mob-address-info {
  color: var(--SLATE, #434455);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-soc-list {
  display: flex;
  gap: 24px;
  margin-top: 48px;
  justify-content: space-around;
}

.social-link:hover,
.social-link:focus {
  stroke: #6c9a8b;
  fill: #6c9a8b;
}

/* ====== Hero section ====== */

.header-hero {
  font-size: 36px;
}
.title-hero {
  font-family: 'SF Mono', 'Roboto Mono', monospace;
  font-size: 16px;
}

.subtitle-hero {
  font-family: 'Noto Sans Symbols', sans-serif;
  font-size: 34px;
}
.text-hero {
  font-size: 18px;
}

.subtext-hero {
  color: #6c9a8b;
  margin-top: 16px;
  font-family: 'SF Mono', 'Roboto Mono', monospace;
}

.hero-btn {
  width: 100%;
  background-color: transparent;
  border: 1px solid #e4572e;
  border-radius: 4px;
  color: #e4572e;
  padding: 20px 28px;
  margin-top: 30px;
  font-family: 'SF Mono', 'Roboto Mono', monospace;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(228, 87, 46, 0.3);
}

.hero-btn:hover {
  transform: translate(-15px, -10px);
  box-shadow: 0 4px 16px rgba(228, 87, 46, 0.5);
}
/* ====== Projects section ====== */

.projects-item-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.image-overlay {
  position: relative;
  display: inline-block;
}

.image-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(108, 154, 139, 0.3),
    rgba(228, 87, 46, 0.3),
    rgba(255, 201, 20, 0.3),
    rgba(247, 249, 249, 0.4)
  );
  z-index: 1;
  pointer-events: none; /* Allow clicks to go through the overlay */
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.image-overlay:hover::before {
  opacity: 0; /* Set opacity to 0 on hover */
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.project-item {
  width: 100%;
  padding: 16px 0;
}

.project-img {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-img:hover {
  border: 1px solid #e4572e;
}
.projects-item-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-github-link {
  color: #e4572e;
  font-family: 'SF Mono', 'Roboto Mono', monospace;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-github-link:hover .icon-wrapper {
  transform: translate(5px, -5px);
}

.project-github-link:active .icon-wrapper,
.project-github-link:focus .icon-wrapper {
  transform: none;
}

.icon-arrow {
  stroke: #6c9a8b;
  fill: none;
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-arrow:hover {
  transform: translate(5px, -5px);
}

.icon-arrow:active,
.icon-arrow:focus {
  transform: none;
}

/* .project-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  border-radius: 7%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
} */

/* ====== Skills section ====== */

.category-title {
  font-family: 'Inter', sans-serif;
  color: #f7f9f9;
  font-weight: 500;
  position: relative;
}

.category-list {
  margin-top: 16px;
}

.category-title::before {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 5px; /* Adjust the height of the line as needed */
  background-color: #6c9a8b;
  z-index: -1;
}

.category-list-item {
  font-family: 'SF Mono', 'Roboto Mono', monospace;
  font-weight: 200;
}

.skills-categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.category-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px #6c9a8b;
  border-style: groove;
  border-radius: 5px;
  box-shadow: 0px 4px 16px rgba(108, 154, 139, 0.5);
  padding: 16px;
}

.category-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ====== Contact form section ====== */
.contact-form-section {
  padding: 24px;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 15px;
}

.contact-form-label {
  display: block;
  color: #6c9a8b;
}

.user-input {
  width: 100%;
  display: block;
  background-color: transparent;
  border-style: none none solid none;
  border-width: 1px;
  outline: none;
  padding: 16px 0;
}

.user-input::placeholder,
.user-message::placeholder {
  font-weight: 100;
  color: #f7f9f9;
  letter-spacing: 0.04em;
}

.user-message {
  padding: 16px 0;
  width: 100%;
  background-color: transparent;
  border-style: none none solid none;
  border-width: 1px;
  outline: none;
  resize: none;
}
.user-message::placeholder {
  vertical-align: bottom;
  padding-bottom: 10px; /* Adjust as needed */
}

.user-message:focus::placeholder,
.user-input:focus::placeholder {
  color: transparent;
}

.contact-form-button {
  border: 1px solid #e4572e;
  background-color: transparent;
  color: #e4572e;
  font-family: 'SF Mono', 'Roboto Mono', monospace;
  padding: 20px 28px;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(228, 87, 46, 0.3);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact-form-button:hover {
  transform: translate(0, -10px);
  box-shadow: 0 4px 16px rgba(228, 87, 46, 0.5);
}

.contact-form-title {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #f7f9f9;
}

.contact-form-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}

/* ====== Footer ====== */
.footer-main {
  display: block;
  padding: 24px;
}

.footer-title {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 0.2em;
}

.footer-list {
  display: block;
}

.footer-list-item-link,
.footer-bottom-text {
  color: #f7f9f9;
  font-family: 'SF Mono', 'Roboto Mono', monospace;
  font-weight: 200;
  font-size: 12px;
  font-style: normal;
}

.footer-social-links {
  padding: 0 24px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  margin-top: 15px;
  justify-content: flex-start;
}

.footer-social-link {
  stroke: #ffc914;
  fill: #ffc914;
}

.footer-social-link:hover,
.footer-social-link:focus {
  stroke: #6c9a8b;
  fill: #6c9a8b;
}

.footer-bottom {
  padding: 24px;
}

/* .footer-bottom-text {
} */
